body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(88, 88, 88);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.navbar button {
  border: none;
  float: left;
  display: block;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: rgb(66, 66, 66);
  cursor: pointer;
  transition: 0.3s;
}

.main {
  padding: 16px;
}

#remoteVideo{
    background-repeat: no-repeat;
    background-position: center;
    width: 1900px;
    height: 800px;
}

#localVideo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    border-radius: 16px;
    max-width: 20%;
    max-height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#myInput{
    float: left;
    display: block;
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 6px;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    margin: 20px;
}
