body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.navbar button {
  border: none;
  float: left;
  display: block;
  background-color: #bdc3c7;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  margin: 20px;
  border-radius: 25px;
}

.navbar button:hover {
  background-color: #95a5a6;
  cursor: pointer;
}

.main {
  padding: 16px;
}

#remoteVideo{
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1900px;
    max-height: 800px;
}

#localVideo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    border-radius: 7px;
    max-width: 255px;
    max-height: 195px;
    background-size: cover;
    background-color: #ecf0f1;
    padding: 12px;
    background-color: #ecf0f1;
}


#myInput{
    float: left;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    padding: 14px 16px;
    font-size: 17px;
    margin: 20px;
    width: 0px;
    color: transparent;
}

.container{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 240px;
    padding: 60px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: auto;
    margin-top: 50px;
}

.button2{
  border: none;
  padding: 10px;
  color: white;
  background-color: #2ecc71;
  border-radius: 7px;
  transition: 0.3s;
}

.button2:hover{
  cursor: pointer;
  background-color: grey;
  transition: 0.3s;
}
